div(class='header')
	div(class='wrapper')
		div(class='logo')
		div(class='nav')
			ul(class='nav-ul')
				li
					a(class='index' href='/') 首页
				li
					a(class='chat' href='/qa') LoL问答
				li
					a(class='chat' href='/chat') 交流Online
				li
					a(class='story' href='/story') 故事/心得
				li
					a(class='gallary' href='/gallery') 画廊/图片
		div(class='userbox')
			a(class='userinfo') kevin14
			div(class='box-btns-wrapper')
				a(class='box-btns settings') 设置
				a(class='box-btns logout') 退出
