div(class='header')
	div(class='header_wrapper')
		div(class='logo')
		div(class='nav')
			ul(class='nav-ul')
				li
					a.icon-home.icons(class='index' href='/')
				li
					a.icon-question.icons(class='chat' href='/qa')
				li
					a.icon-bubbles.icons(class='chat' href='/chat')
				li
					a.icon-book.icons(class='story' href='/story')
				li
					a.icon-images.icons(class='gallary' href='/gallery')
		div.userbox
			div.manage-box-unlogin
				a(class='box-btns login' href='/users/login') 登录
				a(class='box-btns reg' href='/users/reg') 注册
			div.manage-box-login
				a(class='box-btns username') 未登录
				a(class='box-btns infos') 消息
				a(class='box-btns set-btn') 设置
				div.settings
					a.user-center 个人设置
					a.logout 退出

