extends layout
block content
	include header
	div.content_wrapper
		div.index_flow
			div.loler_logo
			div.playerinfo.index_flow_box
				div.playerRole
					h3.title 查看角色信息
					form.playerinfo_form
						select(name='serverName',class='serverName')
							option(value='电信一') 艾欧尼亚
							option(value='电信二') 祖安
							option(value='电信三') 诺克萨斯
							option(value='电信四') 班德尔城
							option(value='电信五') 皮尔特沃夫
							option(value='电信六') 战争学院
							option(value='电信七') 巨神峰
							option(value='电信八') 雷瑟守备
							option(value='电信九') 裁决之地
							option(value='电信十') 黑色玫瑰
							option(value='电信十一') 暗影岛
							option(value='电信十二') 钢铁烈阳
							option(value='电信十三') 均衡教派
							option(value='电信十四') 水晶之痕
							option(value='电信十五') 影流
							option(value='电信十六') 守望之海
							option(value='电信十七') 征服之海
							option(value='电信十八') 卡拉曼达
							option(value='电信十九') 皮城警备
							option(value='网通一') 比尔吉沃特
							option(value='网通二') 德玛西亚
							option(value='网通三') 弗雷尔卓德
							option(value='网通四') 无畏先锋
							option(value='网通五') 恕瑞玛
							option(value='网通六') 扭曲丛林
							option(value='教育一') 教育网专区
						input(type='text' name='playerName' class='playerName' placeHolder="角色名")
						a.submit 提交
				div.player_box
					div.player_basic_info
						img.player_avater(src="http://img.lolbox.duowan.com/profileIcon/profileIcon2.jpg")
						span.playername loler.us
						div.level_box
							span.level 30
							span.position 白银/V
						div.zzl
							label.icon-evil2
							span.zzl_point 3600
						div.ftime
							label.icon-history
							span.ftime_status 首胜已可用
					div.player_fight_info
						ul.nav
							li
								a.cur 排位赛
							li
								a 匹配赛(经典对战)
						div.pwzj
							div.current_season.season_box
								h4 本赛季
								div
									label 场次
									span 50
								div
									label 胜点
									span 50
								div
									label 胜场
									span 50
								div
									label 负场
									span 50
								div
									label 胜率
									span 50%
							div.past_season.season_box
								h4 过往赛季
								div
									label 场次
									span 50
								div
									label 胜点
									span 50
								div
									label 胜场
									span 50
								div
									label 负场
									span 50
								div
									label 胜率
									span 50%
						div.ppzj
							div
								label 场次
								span 50
							div
								label 胜场
								span 50
							div
								label 负场
								span 50
							div
								label 胜率
								span 50%
		div.index_flow
			div.index_flow_box
			div.qa_title_box.title_box
				div
					span.icons_big.icon-question
					span.desc LoL热门问答
				div
					a.go_link(href="/qa") 进入LoL问答
					span.icons_small.icon-arrow-right
		div.index_flow
			div.chat_title_box.title_box
				div
					span.icons_big.icon-question
					span.desc LoL热门问答
				div
					a.go_link(href="/qa") 进入LoL问答
					span.icons_small.icon-arrow-right
			div.index_flow_box
		div.index_flow
			div.index_flow_box
			div.title_box
				div
					span.icons_big.icon-question
					span.desc LoL热门问答
				div
					a.go_link(href="/qa") 进入LoL问答
					span.icons_small.icon-arrow-right
		div.index_flow
			div.title_box
				div
					span.icons_big.icon-question
					span.desc LoL热门问答
				div
					a.go_link(href="/qa") 进入LoL问答
					span.icons_small.icon-arrow-right
			div.index_flow_box
	include footer
	script.
			require(['base','index'], function(base,index) {
			})


