doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/base.css')
    link(rel='stylesheet',href='/stylesheets/#{curPage}.css')
    script(data-main='/javascripts/config' src='/javascripts/lib/requirejs/require.js')
  body
    block content