extends layout

block content
	h1= title
	p Welcome to #{title}
	div.userLoginBox
		input(class='username' name='username' type='text' placeholder='用户名')
		input(class='password' name='password' type='password' placeholder='password')
		a.submit 提交
	script.
		require(['login'],function(login){

		});
