extends layout
block content
	include header
	div.content
		div.ask-box
			div.ask-type
				label 问题类型:
				a(class='question-type selected' type='1') 游戏	
				a(class='question-type' type='2') 生活	
			textarea(class='ask-textarea')
			a.submit 提交
		script.
			require(['qa_ask'], function(qaAsk) {
			})
	include footer


