.content_wrapper{
	width: 700px;
}
.question_wrapper{
	margin-top: 30px;
	border-radius: 4px;
	background-color: rgba(51,51,51,0.7);
	padding: 5px;
	padding-bottom: 20px;
}
.question_wrapper .nav{
	height: 40px;
	background-color: #333;
	line-height: 40px;
	position: relative;
	margin-bottom: 20px;
}
.question_wrapper .nav a{
	display: inline-block;
	width: 68px;
	line-height: 40px;
	color:#fff;
	text-align: center;
	cursor: pointer;
}
.question_wrapper .nav a.btn-ask{
	position: absolute;
	right: 0;
}
.question_wrapper .question-list .question-box{
	height: 40px;
	/*background-color: #f2f2f2;*/
	padding: 0 20px;
}
.question_wrapper .question-list .question-box .user_box{
	float: left;
}
.question_wrapper .question-list .question-box .user_box .user_avatar{
	width: 50px;
	height: 50px;
	border-radius: 4px;
}
.question_wrapper .question-list .question-box .question_content{
	background-color: #f2f2f2;
	float: left;
	padding: 10px;
	margin-left: 20px;
	width: 560px;
	border-radius: 4px;
}
.question_wrapper .question-list .question-box .question_content .social_box{
	padding-top: 10px;
	text-align: right;
}
.question_wrapper .question-list .question-box .question_content .social_box .icon{
	font-size: 12px;
	letter-spacing: 4px;
}
.question_wrapper .question-list .question-box .question_content .social_box .ctime{
	font-size: 12px;
	margin-right: 20px;
	color: #888;
}